.signup-container {
  background: #FAD02E;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

.signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  width: 300px;
}

.signup-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333;
}

.error-message {
  color: #ff5733;
  margin-bottom: 10px;
}

.custom-signup-form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.custom-input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.custom-input::placeholder {
  color: #ccc;
}

.custom-button {
  padding: 10px;
  background-color: #FF6347;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.custom-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.custom-button:hover {
  background-color: #FF4500;
}
